extends layout

append head
  script(src="/javascripts/questions.js" type="module" defer)
  link(rel="stylesheet", href="/stylesheets/questions.css")

block content
    div#questions-page
        h1#question-page-header Questions
        if locals.authenticated
          a#new-question-button(href="/questions/new") Ask a Question
        else
          a#no-question-button(href="/users/login") Login to Ask a Question
        each question in questions
            if question.Answers.length
                each answer in question.Answers
                     div.question-card-container
                        div.question-card
                            a(href=`/users/${question.user_id}`).question-user.italic= `${question.User.username} wants to know `
                            a(href=`/questions/${question.id}`).question-title= question.title
                            p= answer.answer
                        .answer-bar
                            image(src="images/thumb_up.svg").icon
                            p.votes= answer.votes
                            image(src="images/thumb_down.svg").icon
                            image(src="images/answers.svg").icon
            else
                div.question-card-container
                    div.question-card
                        a(href=`/users/${question.user_id}`).question-user.italic= `${question.User.username} wants to know `
                        a(href=`/questions/${question.id}`).question-title= question.title
                    .answer-bar
                        image(src="images/thumb_up.svg").icon
                        image(src="images/thumb_down.svg").icon
                        image(src="images/answers.svg").icon
