extends layout
//- include utils.pug

append head
    script(src="/javascripts/question.js" type="module" defer)
    link(rel="stylesheet", href="/stylesheets/question.css")
    link(rel="stylesheet", href="/stylesheets/questions.css")
    script(src="/javascripts/DynamicScripts.js" type="module" defer) 

block content
    div#question-page
        div#individual-question
            div.tag-list
                if questionTag.length
                    each QTag in questionTag
                        each tag in allTags
                            if QTag.tag_id === tag.id
                                .tag-div
                                    form(action="/search/tag" method="post")
                                        button(type="submit").tag= tag.name
                                        input(type="hidden" value=tag.id name="tag-id").tag-id
                                        input(type="hidden" value=tag.name name="name")
                                    if locals.authenticated 
                                        each question in tag.Questions
                                            if question.User.id === locals.user.id
                                                img(src="/images/delete.svg", alt="didnt work").tag-image
            a(href=`/users/${question.user_id}`)
            h1#question-title= `${question.title}`
            p.italic= `Asked by ${question.User.username}`
            h1#question-details= `${question.details}`
            .user-controls
                if !locals.authenticated
                    a#interact-with-question-button(href="/users/login") Login to Interact with this Question
                else
                    details.answer-question
                        summary Answer this question
                        form(method="post" action="/answers").details-inside
                            label Answer
                            input(type="hidden" name="id" value=question.id)
                            textarea(name="answer")
                            button(type="submit") Submit
                if isMyQuestion
                    details.edit-question
                        summary Edit
                        form(method="post" action=`/questions/${question.id}/edit`).details-inside
                            label Title
                            input(type="text" name="title")
                            input(type="hidden" name="id" value=question.id)
                            label(for="details") Details
                            textarea(name="details")
                            button(type="submit") Finish edits
                    details.add-tags
                        summary Tags
                        form(method="post" action="/tags").details-inside
                            input(type="hidden" name="id" value=question.id)
                            label(for="name") Enter tag name
                            input(type="text" name="name" required)
                            button(type="submit") Submit
                    form(method="post" action=`/questions/${question.id}/delete`)
                        button(type="submit").delete Delete this question
            ul#answer-list
                each answer in question.Answers
                    div#question-answers
                        p.italic= `Answer by ${answer.User.username}`
                        h2.answer-details= `${answer.answer}`
                        if locals.authenticated
                            .user-controls
                                details.add-comment
                                    summary Comment
                                    form(method="post" action="/comments").details-inside
                                        input(type="hidden" name="question_id" value=question.id)
                                        input(type="hidden" name="answer_id" value=answer.id)
                                        label(for="comment") Comment
                                        textarea(name="comment")
                                        button(type="submit") Submit
                                if answer.user_id === locals.user.id
                                    details.edit-question
                                        summary Edit
                                        form(method="post" action=`/answers/${answer.id}/edit`).details-inside
                                            label Answer
                                            input(type="text" name="answer")
                                            input(type="hidden" name="id" value=question.id)
                                            button(type="submit") Finish edits
                                    form(method="post" action=`/answers/${answer.id}/delete`)
                                        input(type="hidden" name="id" value=question.id)
                                        button(type="submit").delete Delete this answer
                        if answer.AComments.length
                            each comment in answer.AComments
                                if !locals.authenticated
                                    .answer-comment
                                        .user-details
                                            .user-avatar
                                                img(src=comment.User.avatar)
                                            p.italic= `${comment.User.username} says`
                                        p= comment.comment
                                else 
                                    if comment.user_id === locals.user.id
                                        .answer-comment.owned
                                            .user-details
                                                .user-avatar
                                                    img(src=comment.User.avatar)
                                                p.italic= `${comment.User.username} says`
                                            p.underline= comment.comment
                                            .user-controls
                                                details.edit-comment
                                                    summary Edit
                                                    form(method="post" action=`/comments/${comment.id}/edit`).details-inside
                                                        label Comment
                                                        input(type="text" name="comment")
                                                        input(type="hidden" name="id" value=question.id)
                                                        button(type="submit") Finish edits
                                                form(method="post" action=`/comments/${comment.id}/delete`)
                                                    input(type="hidden" name="id" value=question.id)
                                                    button(type="submit").delete Delete this comment 
                                    else
                                        .answer-comment
                                            .user-details
                                                .user-avatar
                                                    img(src=comment.User.avatar)
                                                p.italic= `${comment.User.username} says`
                                            p= comment.comment


