extends layout
//- include utils.pug

append head
    script(src="/javascripts/question.js" type="module" defer)
    link(rel="stylesheet", href="/stylesheets/question.css")
    link(rel="stylesheet", href="/stylesheets/questions.css")

block content
    div#question-page
        div#individual-question
            a(href=`/users/${question.user_id}`)
            h1#question-title= `${question.title}`
            p= `Asked by ${question.User.username}`
            h1#question-details= `${question.details}`
            details
                summary Answer this question
                form(method="post" action="/answers")
                    label Answer
                    input(type="hidden" name="id" value=question.id)
                    textarea(name="answer")
                    button(type="submit") Submit
            if !locals.authenticated
                a#interact-with-question-button(href="/users/login") Login to Interact with this Question
            if isMyQuestion
                details
                    summary Edit
                    form(method="post" action=`/questions/${question.id}/edit`)
                        label Title
                        input(type="text" name="title")
                        input(type="hidden" name="id" value=question.id)
                        label(for="details") Details
                        textarea(name="details")
                        button(type="submit" action=`/questions/${question.id}/edit`) Finish edits
                form(method="post" action=`/questions/${question.id}/delete`)
                    button(type="submit" action=`/questions/${question.id}/delete`) Delete this question
            ul#answer-list
                each answer in question.Answers
                    div#question-answers
                        p= `Answer by ${answer.User.username}`
                        h2.answer-details= `${answer.answer}`
        //-                     if(locals.user.id === answer.user_id)
        //-                         a.answer-edit-link(href=`/answers/${answer.id}/edit`) Edit this Answer
        //-                         a.answer-delete-link(href=`/answers/${answer.id}/delete`) Delete this Answer

        //-                 ul#answer-comment-list
        //-                     each aComment in answer.AnswerComments
        //-                         li.question-comment-li
        //-                             textarea.comment-details-editor(name="commentDetailsEditor")
        //-                             h4= `${aComment.comment} --- ${aComment.User.username}`
        //-                                 if(userId === aComment.user_id)
        //-                                     a.comment-editor(href=`/comments/a/${aComment.id}/edit`) Edit this comment
        //-                                     a.comment-delete(href=`/comments/a/${aComment.id}/delete`) Delete this comment
        //-                                     a.comment-done-editing-link(href=`/comments/a/${aComment.id}`) Done Editing Comment
        //-                     form(class='new-answer-comment' method='post' action=`/answers/${answer.id}/comments`)
        //-                         input(type='hidden' name= '_csrf' value= csrfToken)
        //-                         +field('' , 'comment', '', 'textarea', true)
        //-                         if userId !== 0
        //-                             button.add-comment-button(type='submit') Add A Comment
        //- div#new-answer
        //-     if userId !== 0
        //-         h2 Your Answer
        //-             form(id='new-answer' method='post' action=`/questions/${question.id}/answers`)
        //-                 input(type='hidden' name= '_csrf' value= csrfToken)
        //-                 +field('', 'answer', '', 'textarea', true)
        //-                 button(type='submit') Post Your Answer
        //- div#home-div
        //-     a#back-home(href="/questions") Back to all questions
